body {
   font-family: 'Roboto', sans-serif;
   min-width:300px;
}
*{
	box-sizing: border-box;
}
/***support classes**/
.clear{
	clear:both;
}
.text-right{
	text-align: right;
}
.padding{
	padding: 10px 0;	
}
.none{
	display: none;
}
.base{
	width:80%;
	margin:auto;
	position:relative;
}