/******footer******/

.footer-main{
	width:100%;
	padding-top: 30px;
	display: inline-flex;
	justify-content: space-between;
}
.footer-main__section{
	
}
.footer-main__section > p{
	margin-bottom:10px;
}
.footer-main__section > address{
	margin-bottom:10px;
}
.footer-main__link{
	color: $color-action;
}