<div class="page__cart">
    <div class="cart">
        <h1 class="cart__header">Cart</h1>
        <div class="cart__basket-summary">
            <div class="basket-summary">
                <div class="basket-summary__text">
                    Basket Summary
                </div>
                <div class="basket-summary__quantity">
                    <span class="total-quantity">2</span> item(s)
                </div>
                <hr class="basket-summary__splitter">
                <div class="basket-summary__price">
                    $ <span class="total-price" id="total-price">20</span>
                </div>
                <button type="submit" class="basket-summary__button">Proceed to chekout</button>
            </div>
        </div>
        <div class="cart__content">
            <div class="cart__product">
                <div class="cart__img-container">
                    <img src="img/logo.jpg" class="cart__img" alt="good" />
                </div>
                <div class="cart__name">
                    <a href="#">Dry food – "Brand"(2kg)</a>
                </div>
                <div class="cart__quantity">
                    <input class="cart__quantity-input" type="number" min="1" />
                </div>
                <div class="cart__info">
                    <div class="cart__price">
                        $ 5
                    </div>
                    <div class="cart__remove">
                        <a class="cart__remove-button" href="#">Remove</a>
                    </div>
                </div>
            </div>
            <div class="cart__product">
                <div class="cart__img-container">
                    <img src="img/logo.jpg" class="cart__img" alt="good" />
                </div>
                <div class="cart__name">
                    <a href="#">Dry food – "Brand"(2kg)</a>
                </div>
                <div class="cart__quantity">
                    <input class="cart__quantity-input" type="number" min="1" />
                </div>
                <div class="cart__info">
                    <div class="cart__price">
                        $ 5
                    </div>
                    <div class="cart__remove">
                        <a class="cart__remove-button" href="#">Remove</a>
                    </div>
                </div>
            </div>
            <div class="cart__summary-bottom">
                <div class="cart__summary-line cart__summary-price">
                    Total: $ <span>10</span>
                </div>
                <div class="cart__summary-line">
                    <button class="cart__summary-button" href="index.html" onclick="location.href='index.html';">Continue shopping</button>
                    <button type="submit" class="cart__summary-button" onclick="location.href='contact.html';">Proceed to chekout</button>
                </div>
            </div>
        </div>
    </div>
</div>