<main class="page__goods">
    <div class="goods">
        <div class="goods__navigation-categories">
            <ul class="navigation-categories">
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="#/category/7f82ac85d80c3862">
                        <div class="navigation-categories__img navigation-categories__img--dry-food"></div> Dry food
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="#/category/7c43345ef3cb4a0d">
                        <div class="navigation-categories__img navigation-categories__img--wet-food"></div> Wet food
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="#/category/d9d9424681ea5851">
                        <div class="navigation-categories__img navigation-categories__img--medicines"></div> Medicines
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="#/category/c14c11a295c6d854">
                        <div class="navigation-categories__img navigation-categories__img--sleeping-places"></div> Sleeping places
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="#/category/ffb9c7fa522158db">
                        <div class="navigation-categories__img navigation-categories__img--toys"></div> Toys
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="#/category/1b55a6bcb14688af">
                        <div class="navigation-categories__img navigation-categories__img--brushes"></div> Brushes
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="#/category/7d20cd2c460fd825">
                        <div class="navigation-categories__img navigation-categories__img--accessories"></div> Accessories
                    </a>
                </li>
            </ul>
        </div>
        <section class="goods__content">
            <span class="grid-view">Grid view</span>
            <span class="list-view list-view--visible">List view</span> {{#each goods}} {{#if @first}}
            <h1 class="goods__header"> {{categoryName}}</h1>
            {{/if}} {{/each}} {{#each goods}}
            <div class="goods__good">
                <img class="goods__good-img" src="{{img}}" alt="" />
                <div class="goods__good-info">
                    <div class="goods__good-name">
                        <a class="goods__good-link" href="#/product/{{id}}">{{title}}</a>
                    </div>
                    <div class="goods__good-price">
                        {{price}}$
                    </div>
                    <p class="goods__good-description">
                        {{description}}
                    </p>
                    <div class="goods__good-description">
                        <span class="goods__good-add-cart">Add to cart</span>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="goods__good goods__good--dummy"></div>
            <div class="goods__good goods__good--dummy"></div>
            <div class="goods__good goods__good--dummy"></div>
        </section>
    </div>
</main>