<main class="page__goods">
    <div class="goods">
        <div class="goods__navigation-categories">
            <ul class="navigation-categories">
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="#category0">
                        <div class="navigation-categories__img navigation-categories__img--dry-food"></div> Dry food
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="#category1">
                        <div class="navigation-categories__img navigation-categories__img--wet-food"></div> Wet food
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="#category2">
                        <div class="navigation-categories__img navigation-categories__img--medicines"></div> Medicines
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="#category3">
                        <div class="navigation-categories__img navigation-categories__img--sleeping-places"></div> Sleeping places
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="#category4">
                        <div class="navigation-categories__img navigation-categories__img--toys"></div> Toys
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="#category5">
                        <div class="navigation-categories__img navigation-categories__img--brushes"></div> Brushes
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="#category6">
                        <div class="navigation-categories__img navigation-categories__img--accessories"></div> Accessories
                    </a>
                </li>
            </ul>
        </div>
        <section class="goods__content">
            <span class="grid-view">Grid view</span>
            <span class="list-view list-view--visible">List view</span>
            <h1 class="goods__header"> {{title}}</h1>
            {{#each goods}}
            <div class="goods__good">
                <img class="goods__good-img" src="{{img}}" alt="" />
                <div class="goods__good-info">
                    <div class="goods__good-name">
                        <a class="goods__good-link" href="#product{{id}}">{{title}}</a>
                    </div>
                    <div class="goods__good-price">
                        {{price}}
                    </div>
                    <p class="goods__good-description">
                        {{description}}
                    </p>
                    <div class="goods__good-description">
                        <span class="goods__good-add-cart">Add to cart</span>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="goods__good goods__good--dummy"></div>
            <div class="goods__good goods__good--dummy"></div>
            <div class="goods__good goods__good--dummy"></div>
        </section>
    </div>
</main>