<main class="page__goods">
    <div class="goods">
        <div class="goods__navigation-categories">
            <ul class="navigation-categories">
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="category.html">
                        <div class="navigation-categories__img navigation-categories__img--dry-food"></div> Dry food
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="category.html">
                        <div class="navigation-categories__img navigation-categories__img--wet-food"></div> Wet food
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="category.html">
                        <div class="navigation-categories__img navigation-categories__img--medicines"></div> Medicines
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="category.html">
                        <div class="navigation-categories__img navigation-categories__img--sleeping-places"></div> Sleeping places
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="category.html">
                        <div class="navigation-categories__img navigation-categories__img--toys"></div> Toys
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="category.html">
                        <div class="navigation-categories__img navigation-categories__img--brushes"></div> Brushes
                    </a>
                </li>
                <li class="navigation-categories__point">
                    <a class="navigation-categories__link" href="category.html">
                        <div class="navigation-categories__img navigation-categories__img--accessories"></div> Accessories
                    </a>
                </li>
            </ul>
        </div>
        <section class="goods__content">
            <a class="grid-view" href="#" onclick="changeToGridView()">Grid view</a>
            <a class="list-view list-view--visible" href="#" onclick="changeToListView()">List view</a>
            <h1 class="goods__header"> Dry food</h1>
            <div class="goods__good">
                <img class="goods__good-img" src="img/logo.jpg" alt="" />
                <div class="goods__good-info">
                    <div class="goods__good-name">
                        <a class="goods__good-link" href="product.html">Dry food – "Brand" (2kg)</a>
                    </div>
                    <div class="goods__good-price">
                        5$
                    </div>
                    <p class="goods__good-description">
                        Little description of a good goes here. It could be much wider.
                    </p>
                    <div class="goods__good-description">
                        <span class="goods__good-add-cart">Add to cart</span>
                    </div>
                </div>
            </div>
            <div class="goods__good goods__good--dummy"></div>
            <div class="goods__good goods__good--dummy"></div>
            <div class="goods__good goods__good--dummy"></div>
        </section>
    </div>
</main>