@media screen and (max-width: 1200px) {
	.goods{
		&__grid{
			width:90%
		}
	}
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
	.goods{
		&__header{
			text-align:center
		}
		&__content{
			width:100%;
			justify-content:center;
		}
		&__item{
			&_list{
				width:100%;
				height:220px;
				justify-content:center;
				font-size:110%;
			}
		}
		&__item-wrap{
			&_list{
				width:80%;/*560*/
				text-align:left;
				display:flex;
				justify-content:space-between;
			}
		}
		&__img{
			&_list{
				width:250px;
				height:200px;
			}
		}

		&__desc{
			&_list{
				width:calc(90% - 250px);/*290*/
				height:200px;
				display:flex;
				flex-wrap:wrap;
				align-content:space-between;
				text-align:left;
			}

		}
	}
}
