/*categories navigation*/

.navigation-categories{
	width:15%;
	position:fixed;
	display:inline-block;
	list-style-type: none;
	padding-top:20px;
	line-height:1.4;
}
.navigation-categories__point{
	margin-bottom:10px;
}
.navigation-categories__link{
	font-size:110%;
	text-decoration:none;
	color:$main-color-dark;
	display:flex;
	align-items:center;
}
.navigation-categories__img{
	width:40px;
	height:40px;
	margin-right:5px;
}