.modal-window{
  position: fixed;
  top: calc(50% - 100px);
  height: 200px;
  width: 400px;
  left: calc(50% - 150px);
  z-index: 101;
  background: white;
  display: table;
}
.modal-window__line{
	width:300px;
	margin: 0px auto;
	padding-bottom:10px;
}
.modal-window__form{
	display:table-cell;
	vertical-align:middle;
}
.modal-window__input-email{
	width:100%;
}
.modal-window__input-password{
	width:100%;
}
.modal-window__button{
	width:100%;
	background:$color-action;
	background-image: linear-gradient(to bottom,$color-action 0,$color-action-grad 100%);
	border-radius:10px;
	border:none;
	padding:3px 0;
	cursor: pointer;
	color:white;
	transition: all .5s;
}
.modal-window__button:hover{
	background:$color-action;
}
.modal-window__close{
	width:20px;
	height:20px;
	position:absolute;
	right:0;
	top:1;
	cursor:pointer;
	background: url(img/icons/close.jpg);
	z-index:102;
	background-size:100% 100%;
}
.sign{
	font-size:80%;
}
.reg{
	font-size:80%;
}