/*******top-navigation******/
.navigation-top-wrapper{
	width:100%;
	min-height:50px;
	background:$color-main;
	background-image: linear-gradient(to bottom,$color-main 0,$color-main-grad 100%);
	position:fixed;
 	z-index: 50;
}
.navigation-backside{
  height:50px;
}