.scroll-up{
	padding: 12.5px;
	position: fixed;
	display: none;
	width: 60px;
	height:100vh;
	z-index: 30;
	opacity:0.4;
	cursor: pointer;
	text-align: center;
	transition: all .3s;

	&_visible{
		display:table;
	}
	&__img{
		display: table-cell;
		vertical-align: middle;
		width:35px;
		height:35px;
	}
}
.scroll-up:hover{
	background: rgba(240, 240, 240, 0.4);
	opacity:1;
}