/*****goods grid*******/
.good{
	width:200px;
	height:220px;
	margin-right:20px;
	display:inline-block;
	vertical-align:top;
	transition: all 0.5s;
}
.good__wrap{
	display:inline-block;
	height:200px;
	width:200px;
	margin:auto;
}
.good__img{
	width:200px;
	height:160px;
}
.good__desc{
	text-align:center;
	line-height:1.1;
	vertical-align:top;
}
.good__desc-wide{
	text-align:left;
	flex-basis:100%;
	overflow:hidden;
	transition: all .5s;
}
.good__price{
	text-align:left;
	vertical-align:top;
	text-align:center;
}
.good__name{
	text-align:left;
	vertical-align:top;
	text-align:center;
}

.good__add-cart{
	display:inline-block;
	padding:7px 15px;
	border-radius:10px;
	transition: all .5s;
	color:white;
	background-image: linear-gradient(to bottom,$color-action 0,$color-action-grad 100%);
	border: 0px solid white;
	cursor:pointer;
}
.good__add-cart:hover{
	background-image: linear-gradient(to bottom,$color-action 0,$color-action 100%);
}