/*****goods grid*******/


.good{
	width:200px;
	height:200px;
	margin:20px 20px;
	display:inline-block;
	vertical-align:top;
	transition: all 0.5s;
}
.good__wrap{
	display:inline-block;
	height:200px;
	width:200px;
	margin:auto;
}
.good__img{
	width:200px;
	height:160px;
}
.good__desc{
	text-align:center;
	line-height:1.1;
	vertical-align:top;
}
.good__desc-wide{
	text-align:left;
	padding-top:5px;
	flex-basis:100%;
	overflow:hidden;
	transition: all .5s;
}
.good__price{
	text-align:left;
	vertical-align:top;
	padding-top:5px;
	text-align:center;
}
.good__name{
	text-align:left;
	vertical-align:top;
	padding-top:5px;
	text-align:center;
}

.good__add-cart{
	display:inline-block;
	padding:5px 10px;
	border:1px solid $main-color-dark;
	border-radius:10px;
	transition: all .5s;
	color:$main-color-dark;
	cursor:pointer;
}
.good__add-cart:hover{
	background:$main-color-dark;
	color:white;
}