.category {
  width: 250px;
  margin: 15px;
  vertical-align: top;
  border-radius: 15px;
  transition: all .5s;
  background-image: linear-gradient(to bottom, $color-action 90%, $color-action-grad 100%);

  &__link{
    display: block;
    text-decoration: none;
    color: white;
  }
  &__img {
    display:inline-block;
    width:100%;
    height: 200px;
    border-radius: 13px 13px 0 0;
    transition: all .5s;
  }
  &__desc {
    padding: 5px;
    text-align: center;
  }
}
.category:hover {
  -webkit-box-shadow: 0 0 10px #333;
  box-shadow: 2px -2px 15px #3aab8d;
  background-image: linear-gradient(to bottom, $color-action 90%, $color-action 100%);
}