.basket-summary{
  float:right;
  width:15%;
  padding-top: 20px;

  &__quantity{
    color: grey;
    font-size: 80%;
  }
  &__splitter{
    margin:10px;
  }
  &__price{
    text-align: center;
    padding-bottom: 10px;
  }
  &__button{
    width: 100%;
    background-image: linear-gradient(to bottom,$color-action 0,$color-action-grad 100%);
    border:none;
    border-radius: 10px;
    color:white;
    padding: 3px 0;
    cursor: pointer;
    color: white;
    transition: all .5s;
  }
  &__button:hover {
    background-image: linear-gradient(to bottom,$color-action 0,$color-action 100%);
  }
}