.grid-view,
.list-view {
    position: absolute;
    right: 0;
    top: 20px;
    display: none;
}

.grid-view--visible {
    display: inline-block;
}

.list-view--visible {
    display: inline-block;
}