.navigation-categories{
	padding-top:20px;
	line-height:1.4;
	width:15%;
	
	&__point{
		margin-bottom:10px;
	}
	&__link{
		font-size:110%;
		text-decoration:none;
		color:$color-action;
		display:flex;
		align-items:center;
	}
	&__img{
		width:40px;
		height:40px;
		margin-right:5px;
	}
}
