@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto|Roboto+Condensed");



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.categories {
  width: 100%;
  /*1000*/
  min-height: 80vh;
  text-align: center;
}

.category {
  width: 250px;
  min-height: 230px;
  margin: 15px;
  display: inline-block;
  vertical-align: top;
}

.category__img {
  width: 250px;
  height: 210px;
}

.category__desc {
  text-align: center;
}

.content-header {
  margin: 10px 0;
  font-size: 300%;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  text-align: left;
  line-height: 1.1;
}

.navigation-top {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-top__search-img {
  width: 20px;
  height: 20px;
  position: relative;
  left: -22px;
  top: 5px;
}

.navigation-top__logo-img {
  width: 60px;
  height: 50px;
  margin-right: 5px;
}

.navigation-top__icon {
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.navigation-top__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #c55f4b;
  text-decoration: none;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 200%;
}

.navigation-top__panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-top__profile {
  cursor: pointer;
}

/*******top-navigation******/

.navigation-top-wrapper {
  width: 100%;
  height: 50px;
  background: #5bceaf;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5bceaf), to(#3aab8d));
  background-image: -webkit-linear-gradient(top, #5bceaf 0, #3aab8d 100%);
  background-image: linear-gradient(to bottom, #5bceaf 0, #3aab8d 100%);
}

.modal-background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(30, 30, 30, 0.5);
  z-index: 100;
}

/**********modal windows*********/

.modal-window {
  position: fixed;
  top: 50%;
  height: 200px;
  margin-top: -100px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  z-index: 101;
  background: white;
  display: table;
}

.modal-window__line {
  width: 200px;
  margin: 10px auto;
}

.modal-window__form {
  display: table-cell;
  vertical-align: middle;
}

.modal-window__input-email {
  width: 100%;
}

.modal-window__input-password {
  width: 100%;
}

.modal-window__button {
  width: 100%;
  background: #c55f4b;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c55f4b), to(#922b28));
  background-image: -webkit-linear-gradient(top, #c55f4b 0, #922b28 100%);
  background-image: linear-gradient(to bottom, #c55f4b 0, #922b28 100%);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  padding: 3px 0;
  cursor: pointer;
  color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.modal-window__button:hover {
  background: #c55f4b;
}

.modal-window__close {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 278px;
  top: 1;
  cursor: pointer;
  background: url("img/icons/close.jpg");
  z-index: 102;
  background-size: 100% 100%;
}

.footer-wrapper {
  background: #5bceaf;
  width: 100%;
}

/******footer******/

.footer-main {
  width: 100%;
  padding: 30px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-main__payment {
  width: 250px;
  height: 200px;
  background: url("img/payment.png");
  background-size: 100% 100%;
}

.footer-main__section > p {
  margin-bottom: 10px;
}

.footer-main__section > address {
  margin-bottom: 10px;
}

.footer-main__link {
  color: #c55f4b;
}

.main {
  min-height: 65vh;
}

/*****goods grid*******/

.good {
  width: 200px;
  height: 220px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.good__wrap {
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: auto;
}

.good__img {
  width: 200px;
  height: 160px;
}

.good__desc {
  text-align: center;
  line-height: 1.1;
  vertical-align: top;
}

.good__desc-wide {
  text-align: left;
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.good__price {
  text-align: left;
  vertical-align: top;
  text-align: center;
}

.good__name {
  text-align: left;
  vertical-align: top;
  text-align: center;
}

.good__add-cart {
  display: inline-block;
  padding: 7px 15px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c55f4b), to(#922b28));
  background-image: -webkit-linear-gradient(top, #c55f4b 0, #922b28 100%);
  background-image: linear-gradient(to bottom, #c55f4b 0, #922b28 100%);
  border: 0px solid white;
  cursor: pointer;
}

.good__add-cart:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c55f4b), to(#c55f4b));
  background-image: -webkit-linear-gradient(top, #c55f4b 0, #c55f4b 100%);
  background-image: linear-gradient(to bottom, #c55f4b 0, #c55f4b 100%);
}

.goods-container {
  width: 80%;
  /*1000*/
  float: right;
  min-height: 80vh;
}

/*categories navigation*/

.navigation-categories {
  width: 15%;
  display: inline-block;
  list-style-type: none;
  padding-top: 20px;
  line-height: 1.4;
}

.navigation-categories__point {
  margin-bottom: 10px;
}

.navigation-categories__link {
  font-size: 110%;
  text-decoration: none;
  color: #c55f4b;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-categories__img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.cart {
  width: 80%;
  height: 140px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid black;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.cart__img-container {
  width: 130px;
  height: 100px;
}

.cart__img {
  width: 100%;
  height: 100%;
}

.cart__name {
  width: 30%;
  height: 100%;
}

.cart__quantity {
  width: 15%;
  height: 100%;
}

.cart__quantity-input {
  width: 100%;
}

.cart__info {
  width: 12%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  text-align: right;
}

.cart__price {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.cart__remove {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  font-size: 80%;
}

.basket-summary {
  float: right;
  width: 15%;
  margin-top: 20px;
}

.basket-summary__quantity {
  color: grey;
  font-size: 80%;
}

.basket-summary__splitter {
  margin: 10px;
}

.basket-summary__price {
  text-align: center;
  margin-bottom: 10px;
}

.basket-summary__button {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c55f4b), to(#922b28));
  background-image: -webkit-linear-gradient(top, #c55f4b 0, #922b28 100%);
  background-image: linear-gradient(to bottom, #c55f4b 0, #922b28 100%);
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: white;
  padding: 3px 0;
  cursor: pointer;
  color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.basket-summary__button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c55f4b), to(#c55f4b));
  background-image: -webkit-linear-gradient(top, #c55f4b 0, #c55f4b 100%);
  background-image: linear-gradient(to bottom, #c55f4b 0, #c55f4b 100%);
}

.double-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 50px 0;
  min-height: 60vh;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.double-form__block {
  width: 30%;
  min-width: 250px;
}

.double-form__header {
  font-size: 200%;
  text-align: center;
  padding-bottom: 30px;
}

.double-form__line {
  padding-bottom: 20px;
}

.double-form__input {
  float: right;
}

.double-form__button-wrapper {
  width: 100%;
  text-align: center;
}

.double-form__button {
  background: #c55f4b;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c55f4b), to(#922b28));
  background-image: -webkit-linear-gradient(top, #c55f4b 0, #922b28 100%);
  background-image: linear-gradient(to bottom, #c55f4b 0, #922b28 100%);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.double-form__button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c55f4b), to(#c55f4b));
  background-image: -webkit-linear-gradient(top, #c55f4b 0, #c55f4b 100%);
  background-image: linear-gradient(to bottom, #c55f4b 0, #c55f4b 100%);
}

.payment {
  width: 780px;
  height: 530px;
  margin: 30px auto 0 auto;
  position: relative;
}

.payment__cvv-wrapper {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 170px;
  background: url("img/card-back.jpg");
  background-size: 100% 100%;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.payment__cvv {
  position: absolute;
  left: 300px;
  top: 115px;
  width: 60px;
  height: 30px;
}

.payment__card-wrapper {
  width: 400px;
  height: 300px;
  background: url("img/card-front.png");
  background-size: 100% 100%;
  position: absolute;
  left: 50px;
  top: 120px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.payment__number {
  position: absolute;
  left: 37px;
  top: 164px;
  height: 28px;
  width: 320px;
}

.payment__month {
  position: absolute;
  left: 168px;
  top: 213px;
  height: 30px;
  width: 26px;
}

.payment__year {
  position: absolute;
  left: 208px;
  top: 213px;
  height: 30px;
  width: 50px;
}

.payment__holder {
  position: absolute;
  left: 35px;
  top: 245px;
  height: 32px;
  width: 250px;
}

.payment__button {
  position: absolute;
  top: 450px;
  left: 300px;
  font-size: 110%;
  background: #c55f4b;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c55f4b), to(#922b28));
  background-image: -webkit-linear-gradient(top, #c55f4b 0, #922b28 100%);
  background-image: linear-gradient(to bottom, #c55f4b 0, #922b28 100%);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 7px 50px;
  border: none;
  cursor: pointer;
  color: white;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.payment__button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c55f4b), to(#c55f4b));
  background-image: -webkit-linear-gradient(top, #c55f4b 0, #c55f4b 100%);
  background-image: linear-gradient(to bottom, #c55f4b 0, #c55f4b 100%);
}

body {
  font-family: 'Roboto', sans-serif;
  min-width: 790px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/***support classes**/

.clear {
  clear: both;
}

.text-right {
  text-align: right;
}

.padding {
  padding: 10px 0;
}

.none {
  display: none;
}

.base {
  width: 80%;
  margin: auto;
  position: relative;
}