@media screen and (max-width: 1200px) {
    
	.footer-main{
		flex-wrap:wrap;
		text-align:center;
		justify-content:center;
		&__section:nth-child(2){
			display: none;
		}
		&__section:nth-child(3){
			display: none;
		}
	}
    
   }